<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header - Kanban Project Management Tool</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/responsive.css">
</head>

<body>
    <header>
        <div class="header-left">
            <h1>Kanban Project Management Tool</h1>
        </div>
        <div class="header-right">
            <a href="#">
                <img class="help" src="../icons/help.png" alt="Help Icon">
            </a>

            <div class="login-circle" href="#">
                <span class="initals">
                    <a>AB</a>
                </span>
            </div>
        </div>
    </header>

</body>

</html>