<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar - Kanban Project Management Tool</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/responsive.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div>
                <img class="sidebar-logo" src="../img/logo_white.png" alt="Logo Sidebar">
            </div>
            <nav>
                <ul>
                    <li>
                        <div class="sidebar-categories">
                            <img class="sidebar-icons" src="../../assets/icons/summary.png" alt="Summary Icon">
                            <a href="#" class="nav-link">Summary</a>
                        </div>
                    </li>
                    <li>
                        <div class="sidebar-categories">
                            <img class="sidebar-icons" src="../../assets/icons/addtask.png" alt="Add Task Icon">
                            <a href="#" class="nav-link">Add Task</a>
                        </div>
                    </li>
                    <li class="active">
                        <div class="sidebar-categories">
                            <img class="sidebar-icons" src="../../assets/icons/board.png" alt="Board Icon">
                            <a href="#" class="nav-link">Board</a>
                        </div>
                    </li>
                    <li>
                        <div class="sidebar-categories">
                            <img class="sidebar-icons" src="../../assets/icons/contacts.png" alt="Contacts Icon">
                            <a href="#" class="nav-link">Contacts</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <footer>
                <a href="#">Privacy Policy</a>
                <a href="#">Legal Notice</a>
            </footer>
        </aside>
    </div>
</body>

</html>